<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <link rel='stylesheet' href='/webjars/bootstrap/4.3.1/css/bootstrap.min.css'>
    <script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Something went wrong!</h1>
        <a th:href="@{'/'}">
            <button class="btn btn-primary" type="submit" name="home">Home</button>
        </a>
    </div>
</body>
</html>
